<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Bolão da Rodada</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous" />
</head>

<body style="background-color: #556">
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title" align="center">Bolão da RODADA</h1>
		</div>
		<div class="panel-body">
			<!-- 		nome varchar
		idrodada FK
		idjogo FK
		time_casa_palpite int
		time_fora_palpite int
		datacadastro
 -->
			<form class="form-horizontal" method="POST" th:action="@{/palpites}"
				th:object="${palpite}" style="margin: 20px 0">
				<div class="col-xs-6 col-md-10">
					<div class="form-group">
						<label class="col-sm-2 control-label">Qual é seu nome?</label> 
						<div class="col-sm-10">
							<input type="text"  required="required" class="form-control" th:field="*{nome}" placeholder="Nome"/>
						</div> 
					</div>
					
		 			<!-- <div class="form-group">
						<label for="selectJogo">Qual jogo deseja palpitar?</label> 

						<select id="jogo" class="form-control" th:field="*{jogo}" required="required">
						<option value="">Selecione o jogo</option>
						<option th:each="jogo : ${jogos}"
							th:value="${jogo.idrodada}"
							th:text="${jogo.time_casa + ' X '+ jogo.time_fora }"></option>
					</select>
					</div> -->
				</div>
				<input type="hidden" name="rodada" id="rodada" th:value="${jogos.rodada}" />
				<input type="hidden" name="jogo" id="jogo" th:value="${jogos.idjogo}" />
				<div class="form-group">
					<div class="col-xs-6 col-md-4">
						<div class="col-sm-10">
							<h2 th:text="${jogos.time_casa.nome_time}"></h2>
							<img th:src="'../../img/'+ ${jogos.time_casa.escudo_link}" class="img-rounded"/>
							<input type="number" id="time_casa_palpite" th:field="*{time_casa_palpite}"  min="0" max="10" required="required"/>
						</div>
					</div>
					<div class="col-xs-6 col-md-4">
						<h4>BRASILEIRÃO 2017</h4>
						<h4>03/06/2017</h4>
						<H1>
							<b>X</b>
						</H1>
					</div>
					<div class="col-xs-6 col-md-4">
						<div class="configdiv">
							<h2 th:text="${jogos.time_fora.nome_time}"></h2>
							<input type="number" id="time_fora_palpite"  th:field="*{time_fora_palpite}" min="0" max="10" required="required"/>
							<img th:src="'../../img/'+ ${jogos.time_fora.escudo_link}" class="img-rounded" />
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-6 col-md-4"></div>
					<div class="col-xs-6 col-md-4">
						<label>
							<button type="submit" class="btn btn-success btn-lg btn-block">Enviar
								Palpite</button>
						</label>
					</div>
					<div class="col-xs-6 col-md-4"></div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
